<h1>Welcome to CSE Motors</h1>
<%- messages() %>
<div class="car-details">
    <h2 class="bold">DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <img class="own-today" src="/images/site/own_today.png" alt="own today button">
</div>
<!-- <source srcset="/images/vehicles/aerocar.jpg" media="(max-width: 400px)"> -->
<img class="float" src="/images/vehicles/delorean.jpg" alt="airplane vehicle">
<div class="tables">
    <h1 class="reviews-table">DMC Delorean Reviews</h1>
    <ul class="reviews-table-li">
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly! (5/5)"</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
    <h1 class="upgrades-table">Delorean Upgrades</h1>
        <div class="upgrades1">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="a bumper sticker">
            <a href="/">Bumper Stickers</a>
        </div>
        <div class="upgrades2">
            <img src="/images/upgrades/flux-cap.png" alt="a flux capacitor">
            <a href="/">Flux Capacitor</a>
        </div>
        <div class="upgrades3">
            <img src="/images/upgrades/flame.jpg" alt="a picture of a flame">
            <a href="/">Flame Decals</a>
        </div>
        <div class="upgrades4">
            <img src="/images/upgrades/hub-cap.jpg" alt="a hub cap">
            <a href="/">Hub Caps</a>
        </div>
</div>
